AZURE_APPLICATION_ID: ""
AZURE_APPLICATION_SECRET: ""
AZURE_REGION: ""
AZURE_RESOURCE_GROUP: ""
AZURE_STORAGE_CONNECTION_STRING: "DefaultEndpointsProtocol=https;AccountName=w3pmz53aigsylzhr;AccountKey=uAmlpWVb8Nf1K5UFpXxvK9nU2GJJkyQnwnmhkja4mwuEFeFapzg+gZ7XoiwlQNoj2iAWla2RiffJ+AStnBW4zw==;EndpointSuffix=core.windows.net"
AZURE_STORAGE_CONTAINER_NAME: ""
AZURE_SUBSCRIPTION_ID: ""
AZURE_TENANT_ID: ""
BOOT_LOCATIONS: "1" 
MODULES: "all" 
PLATFORM: "azure"
REUSE: "Yes"
ISO: "/mnt/BIGIP-15.1.4.1-0.0.15.iso"
